
* { box-sizing: border-box; }

body { margin: 0; padding: 0; color: #606c71; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; }

a { color: #1e6bb8; text-decoration: none; }
a:hover { text-decoration: underline; }

.Btn {
    display: inline-block; margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.08); color: rgba(255, 255, 255, 0.7); border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 0.3rem; transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.Btn + .Btn { margin-left: 1rem; }

.Btn:hover {
    background-color: rgba(255, 255, 255, 0.2); border-color: rgba(255, 255, 255, 0.3); color: rgba(255, 255, 255, 0.8); text-decoration: none;
}

@media screen and (min-width: 64em) {
    .Btn { padding: 0.75rem 1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .Btn { padding: 0.6rem 0.9rem; font-size: 0.9rem; }
}

@media screen and (max-width: 42em) {
    .Btn { display: block; width: 100%; padding: 0.75rem; font-size: 0.9rem; }
    .Btn + .Btn { margin-top: 1rem; margin-left: 0; }
}

.Page-hd { background-color: #159957; background-image: linear-gradient(120deg, #155799, #159957); color: #fff; text-align: center; }

@media screen and (min-width: 64em) {
    .Page-hd { padding: 5rem 6rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .Page-hd { padding: 3rem 4rem; }
}

@media screen and (max-width: 42em) {
    .Page-hd { padding: 2rem 1rem; }
}

.GhProj-name { margin-top: 0; margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
    .GhProj-name { font-size: 3.25rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .GhProj-name { font-size: 2.25rem; }
}

@media screen and (max-width: 42em) {
    .GhProj-name { font-size: 1.75rem; }
}

.GhProj-tagline { margin-bottom: 2rem; font-weight: normal; opacity: 0.7; }

@media screen and (min-width: 64em) {
    .GhProj-tagline { font-size: 1.25rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .GhProj-tagline { font-size: 1.15rem; }
}

@media screen and (max-width: 42em) {
    .GhProj-tagline { font-size: 1rem; }
}

.Page-bd :first-child {  margin-top: 0; }
.Page-bd img { max-width: 100%; }
.Page-bd h1,
.Page-bd h2,
.Page-bd h3,
.Page-bd h4,
.Page-bd h5,
.Page-bd h6 { margin-top: 2rem; margin-bottom: 1rem; color: #159957; font-weight: normal; }
.Page-bd p { margin-bottom: 1em; }
.Page-bd code { padding: 2px 4px; background-color: #f3f6fa; border-radius: 0.3rem; color: #383e41; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9rem; }
.Page-bd pre {
    margin-top: 0; margin-bottom: 1rem; padding: 0.8rem;
    background-color: #f3f6fa; border: solid 1px #dce6f0; border-radius: 0.3rem; color: #567482; font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; word-wrap: normal;
}
.Page-bd pre > code {
    margin: 0; padding: 0;
    background: transparent; border: 0; color: #567482; font-size: 0.9rem; white-space: pre; word-break: normal;
}
.Page-bd .highlight { margin-bottom: 1rem; }
.Page-bd .highlight pre { margin-bottom: 0; word-break: normal; }
.Page-bd .highlight pre,
.Page-bd pre {
    padding: 0.8rem; overflow: auto;
    border-radius: 0.3rem; font-size: 0.9rem; line-height: 1.45;
}
.Page-bd pre code,
.Page-bd pre tt { display: inline; margin: 0; padding: 0; max-width: initial; overflow: initial;
    background-color: transparent; border: 0; line-height: inherit; word-wrap: normal;
}
.Page-bd pre code:before,
.Page-bd pre code:after,
.Page-bd pre tt:before,
.Page-bd pre tt:after { content: normal; }

.Page-bd ul,
.Page-bd ol { margin-top: 0; }

.Page-bd blockquote { margin-left: 0; padding: 0 1rem; border-left: 0.3rem solid #dce6f0; color: #819198; }
.Page-bd blockquote > :first-child { margin-top: 0; }
.Page-bd blockquote > :last-child { margin-bottom: 0; }
.Page-bd table {
    display: block; width: 100%; overflow: auto;
    word-break: normal; word-break: keep-all;
}
.Page-bd table th { font-weight: bold; }
.Page-bd table th,
.Page-bd table td { padding: 0.5rem 1rem; border: 1px solid #e9ebec; }

.Page-bd dl { padding: 0; }
.Page-bd dl dt { margin-top: 1rem; padding: 0; font-size: 1rem; font-weight: bold; }
.Page-bd dl dd { margin-bottom: 1rem; padding: 0; }

.Page-bd hr { height: 2px; margin: 1rem 0; padding: 0; background-color: #eff0f1; border: 0; }

@media screen and (min-width: 64em) {
    .Page-bd { max-width: 64rem; margin: 0 auto; padding: 2rem 6rem; font-size: 1.1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .Page-bd { padding: 2rem 4rem; font-size: 1.1rem; }
}

@media screen and (max-width: 42em) {
    .Page-bd { padding: 2rem 1rem; font-size: 1rem; }
}

.Page-bd-ft { margin-top: 2rem; padding-top: 2rem; border-top: solid 1px #eff0f1; }

.Page-bd-ft-owner { display: block; font-weight: bold; }

.Page-bd-ft-credits { color: #819198; }

@media screen and (min-width: 64em) {
    .Page-bd-ft { font-size: 1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .Page-bd-ft { font-size: 1rem; }
}

@media screen and (max-width: 42em) {
    .Page-bd-ft { font-size: 0.9rem; }
}
